*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    background-color: rgb(188, 244, 252);
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px rgb(123, 114, 114);
}
.heading{
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(228, 9, 9);
    margin-top: 30px;
}
.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
}
.input-container label{
    font-size: larger;
    color: rgb(39, 39, 39);
    font-weight: bold;
}
.input-container input{
    font-size: larger;
    border: none;
    box-shadow: 0 0 2px 1px rgb(152, 145, 145);
    padding: 4px 10px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline: none;
    width: 50%;
}
.input-container input:hover{
    box-shadow: 0 0 2px 1px rgb(37, 34, 34);
}
.submit-container{
    margin: 20px;
    display: flex;
    justify-content: center;
}
#calculate{
    padding: 4px 10px;
    font-size: larger;
    background-color: rgb(228, 9, 9);
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    box-shadow: 2px 3px 4px rgb(55, 52, 52);
    transition: 0.5s;
    cursor: pointer;
}
#calculate:active{
    box-shadow: none;
    font-size: large;
}
#loanTenure{
    width: 58px;
    margin-left: 65px;
    margin-right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.radio-container{
    display: flex;
    margin-left: 0;
}
.radio-container input[type="radio"]{
    display: none;
}
.radio-container label{
    background-color: rgb(211, 210, 210);
    padding: 3.7px 5px;
    box-shadow: 0px 0px 2px 2px rgb(199, 197, 197);
    cursor: pointer;
    transition: all 0.3s;
}
#month + label{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.radio-container label:hover{
    background-color: rgb(116, 101, 101);
    color: white;
}
.radio-container input[type="radio"]:checked+label{
    background-color: rgb(116, 101, 101);
    color: white;
}
.output{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.output p{
    font-size: 16px;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    width: 100%;
    box-shadow: 0px 0px 5px rgb(51, 48, 48);
    color: rgb(39, 39, 39);
    font-weight: 550;
    font-weight: bold;

}
.output p span{
    float: right;
    word-wrap: break-word;
    color: rgb(228, 9, 9);
    font-size: larger;
}

@media (max-width:650px){
    .container{
        width: 90%;
        max-width: 500px;
    }
    .input-container{
        flex-direction: column;
        gap: 20px;
    }
    #loanTenure{
        margin-left: 10px;
        border-radius: 5px;
    }
    .output{
        flex-direction: column;
    }
}