*{ 
	background-image: url('Background1.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin:0;
	padding:0;
	}
		
.logo{
	padding-top:10px;
	padding-bottom:10px;
	margin:0;
	padding-left:570px;
   }	

.title{
    text-align:center;
	color:white;
	}

.rules ul{
	color:#F0E68C;
	margin:0px 100px 10px;
	font-size:20px;
}

.rules ol{
	color:#FFE4B5;
	margin-left:100px;
	list-type:i;
	padding-left:75px;
}

.nav ul li{
	float:right;
	display:inline-block;
	padding:10px;
}

.nav ul li a{
	text-decoration:none;
	color:white;
}